<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header.html"></div>
<body>
<div th:replace="fragments/navbar.html"></div>

<!-- Profile page -->
<div class="container mt-5">
    <div>
        <button class="btn btn-primary">View Loan History</button>
        <button class="btn btn-primary">View Current Loans</button>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h1 class="h1 mb-3 font-weight-normal">Profile</h1>
            <form th:action="@{|/user/profile/${user.id}|}" method="post" class="p-3 rounded login-signup-form">
                <div class="form-group ">
                    <label for="profile-username">Username</label>
                    <input type="text" class="form-control" id="profile-username" th:placeholder="${user.username}" required>
                </div>
                <div class="form-group">
                    <label for="profile-email">Email Address</label>
                    <input type="email" class="form-control" id="profile-email" th:placeholder="${user.email}" required>
                </div>
                <div class="form-group">
                    <label for="profile-first_name">First Name</label>
                    <input type="text" class="form-control" id="profile-first_name" th:placeholder="${user.firstname}" required>
                </div>
                <div class="form-group">
                    <label for="profile-surname">Surname</label>
                    <input type="text" class="form-control" id="profile-surname" th:placeholder="${user.lastname}" required>
                </div>
                <div class="form-group">
                    <label for="profile-password">Password</label>
                    <input type="password" class="form-control" id="profile-password" th:placeholder="${user.password}" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
        <br>

<div th:replace="fragments/footer.html"></div>
</body>
</html>