<!-- For browsing catalogue of selected library -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header.html"></div>
<body>
<div th:replace="fragments/navbar.html"></div>

<div class="container mt-5">
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Available</th>
                <th>Reserved</th>
                <div th:if="${user != null and user.librarian == false} ">
                    <th>Loan Book</th>
                </div>
                <div th:if="${user != null and user.librarian == false} ">
                    <th>Reserve Book</th>
                </div>
                <div th:if="${user != null and user.librarian == true} ">
                    <th>Current User Id</th>
                </div>
                <div th:if="${user != null and user.librarian == true} ">
                    <th>Current Reserved Id</th>
                </div>
                <div th:if="${user != null and user.librarian == true} ">
                    <th>Due Date</th>
                </div>
                <div th:if="${user != null and user.librarian == true} ">
                    <th>Mark As Returned</th>
                </div>
                <div th:if="${user != null and user.librarian == true} ">
                    <th>Loan To Member</th>
                </div>
                <div th:if="${user != null and user.librarian == true} ">
                    <th>Reserve For Member</th>
                </div>
                <div th:if="${user != null and user.librarian == true} ">
                    <th>Renew Loan</th>
                </div>
                <div th:if="${user != null and user.librarian == true} ">
                    <th>Delete Book</th>
                </div>
            </tr>
        </thead>
        <tbody>
            <div th:if="${books == null}">
                <tr>
                    <td>No books</td>
                </tr>
            </div>
            <div th:unless="${books == null}">
                <div th:each="book : ${books}">
                    <tr>
                        <td th:text="${book.title}"></td>
                        <td th:text="${book.author}"></td>
                        <td th:text="${book.available}"></td>
                        <td th:text="${book.reserved}"></td>
                        <div th:if="${user != null and user.librarian == false}">
                            <td><a th:href="@{|user/loan-book/${book.id}|}">
                                    <button th:disabled="${book.available == false}" class="btn btn-primary">Loan Book</button>
                                </a>
                            </td>
                            <td>
                                <a th:href="@{|user/reserve-book/${book.id}|}">
                                    <button th:disabled="${book.reserved == true}" class="btn btn-primary">Reserve Book</button>
                                </a>
                            </td>
                        </div>
                        <div th:if="${user != null and user.librarian == true}">
                            <td th:text="${book.userid}"></td>
                            <td th:text="${book.reservedid}"></td>
                            <td th:text="${book.duedate}"></td>
                            <td>
                                <form th:action="@{|/admin/mark-book-as-returned/${book.id}|}" method="post">
                                    <button type="submit" th:disabled="${book.available == true}" class="btn btn-primary">Mark As Returned</button>
                                </form>
                            </td>
                            <td>
                                <form th:action="@{|/admin/loan-book-to-member/${book.id}|}" method="post">
                                    <input type="text" name="loanee" id="loanee" placeholder="Member ID" th:value="${loanee}">
                                    <button type="submit" class="btn btn-primary" value="Loanee" th:disabled="${book.available == false or book.reserved == true}">Submit</button>
                                </form>
                            </td>
                            <td>
                                <form th:action="@{|/admin/reserve-book-to-member/${book.id}|}" method="post">
                                    <input type="text" name="reservee" id="reservee" placeholder="Member ID" th:value="${reservee}">
                                    <button type="submit" class="btn btn-primary" value="Reservee" th:disabled="${book.reserved == true}">Submit</button>
                                </form>
                            </td>
                            <td>
                                <a th:href="@{|/admin/renew-loan-for-member/${book.id}|}"><button th:disabled="${book.available == true}" class="btn btn-primary">Renew</button></a>
                            </td>
                            <td>
                                <form th:action="@{|/admin/delete-book/${book.id}|}" method="post">
                                    <button type="submit" class="btn btn-danger" value="Delete">Delete</button>
                                </form>
                            </td>
                        </div>
                    </tr>
                </div>
            </div>
        </tbody>
    </table>
</div>

<div th:replace="fragments/footer.html"></div>
</body>
</html>